.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
    background-color: #FAE2FF;
    padding: 20px;
}

.logo {
    width: 125px;
    height: 25px;
}

body {
    background-color: #E2FFFD;
}

.siliconValley {
    width: 50%;
    height:50%;
}

#caption {
    font-size: 20px;
}

#tomImg {
    border-radius: 50%;
    width: 50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}

.result {
   text-align:center;
}

button {
    margin-top: 10px;
    color: white;
    background-color: blue;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
    padding: 10px;
}

body{
    margin-left:20px;
}

#controllers{
    display: flex;
    justify-content:center;
}

.controller{
    border-radius: 100px;
    border:solid black;
}